/* DEFAULT SETTINGS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: Poppins, sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: rgb(20, 20, 20);
}

/* ********************************************************** */
/* HEADER */
/* ********************************************************** */
.header-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding: 1.6rem;
}
.header-logo {
  color: rgba(255, 255, 255, 0.205);
  font-size: 1.15rem;
  letter-spacing: 1.2px;
}

.header-made-by {
  color: rgba(255, 255, 255, 0.205);
  font-size: 1.05rem;
  letter-spacing: 1.2px;
  position: relative;
  margin-top: 1.6rem;
}

.header-github {
  color: rgba(255, 255, 255, 0.305);
  transition: 0.1s ease;
}
.header-github:hover {
  color: rgba(255, 255, 255, 0.405);
}

.header-github-icon {
  margin-left: 1.2rem;
  font-size: 2.6rem;
  padding-top: 0.2rem;
  position: absolute;
  margin-top: -1rem;
}

/* ********************************************************** */
/* CARDS CONTAINER */
/* ********************************************************** */

/* --CARDS--  */
.cards {
  display: grid;
  max-width: 100rem;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  gap: 2.4rem;
  margin-top: 6.4rem;
}

.card {
  color: white;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 30vh;
  background: rgb(23, 23, 23);
  border: 1px solid rgb(35, 35, 35);
  border-radius: 10px;
  padding: 2.4rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.1s ease;
}

.card-html:hover {
  box-shadow: inset 0px 0px 2px 0px #d84924;
}
.card-css:hover {
  box-shadow: inset 0px 0px 2px 0px #2549d8;
}
.card-js:hover {
  box-shadow: inset 0px 0px 2px 0px #f8f804;
}
.card-fonts:hover {
  box-shadow: inset 0px 0px 2px 0px #393d40;
}
.card-guides:hover {
  box-shadow: inset 0px 0px 2px 0px #f20000;
}
.card-colors:hover {
  box-shadow: inset 0px 0px 2px 0px rgb(199, 71, 71),
    inset 0px 0px 2px 0px rgb(118, 118, 179), inset 0px 0.5px 2px 0px yellow,
    inset 0.5px 0px 2px 0px green;
}
.card-img-mp4:hover {
  box-shadow: inset 0px 0px 2px 0px #00ff00;
}
.card-icons:hover {
  box-shadow: inset 0px 0px 2px 0px #7048e8;
}
.card-design:hover {
  box-shadow: inset 0px 0px 2px 0px #099268;
}
.card-communities:hover {
  box-shadow: inset 0px 0px 2px 0px #5460e6;
}
.card-testing:hover {
  box-shadow: inset 0px 0px 2px 0px #964b00;
}

/* --ICONS-- */

.icon {
  height: 90%;
  font-size: 22rem;
  opacity: 2.5%;
  position: absolute;
  left: 9rem;
  transition: 0.5s ease;
  display: inline-block;
}
.card:hover .icon {
  opacity: 30%;
  transform: scale(102%);
}
/* ********************************************************** */
/* FONTS AND HEADINGS */
/* ********************************************************** */

h3 {
  font-size: 2.4rem;
  letter-spacing: 1.5px;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
}

/* HEADING COLOR CHANGES ON HOVER */
.card:hover .heading-js {
  color: #f8f804;
}
.card:hover .heading-html {
  color: #d84924;
}
.card:hover .heading-css {
  color: #2549d8;
}
.card:hover .heading-fonts {
  color: #393d40;
}
.card:hover .heading-guides {
  color: #f20000;
}
.card:hover .heading-img-mp4 {
  color: #00ff00;
}
.card:hover .heading-icons {
  color: #7048e8;
}
.card:hover .heading-design {
  color: #099268;
}
.card:hover .heading-communities {
  color: #5460e6;
}
.card:hover .heading-testing {
  color: #964b00;
}

.card:hover .heading-colors-letter-1 {
  color: rgb(199, 71, 71);
}
.card:hover .heading-colors-letter-2 {
  color: rgb(118, 118, 179);
}
.card:hover .heading-colors-letter-3 {
  color: yellow;
}
.card:hover .heading-colors-letter-4 {
  color: green;
}
.card:hover .heading-colors-letter-5 {
  color: rgb(90, 236, 236);
}
.card:hover .heading-colors-letter-6 {
  color: rgb(248, 136, 8);
}

.card:hover .heading-fonts {
  font-family: Roboto Slab;
  color: aquamarine;
  font-size: 2.4rem;
  padding-top: 8.6rem;
}
